
<!-- templates/about/author.html -->
{% extends "base.html" %}
<h1>{% block header %}Об авторе проекта{% endblock %}</h1>
{% block content %}
  <div class="row">
    <!-- Левый вспомогательный блок -->
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
                Об авторе
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                Позжаев Александр
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <a href="https://github.com/opzhai/">GitHub</a>
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p>Если во время работы вам помогал ваш кот, собака, желтая резиновая уточка или другое 
          домашнее животное — обязательно упомяните об этом. 
          В среде программистов принято упоминать об этом;
           иначе вас просто могут не взять на работу в приличную компанию!</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}